.slider {
    display: flex;
    align-items: flex-start; /* Resimlerin üst hizasını korur */
    justify-content: center;
    height: 400px; /* Tüm resimler için maksimum yükseklik */
}


.main-img img {
    border: 3px solid #4F0077; 
    /* width: 1298px; */
    width: 100%;
    height: 100%;
    /* height: 572px;  */
    display: block;
    margin: 0 auto;
    border-radius: 4px;
  
}


.main-img {
    justify-content: center;
    align-items: center;
    height: 100%;
    padding-right: 0.5rem; /* Ana resim ile küçük resimler arasındaki boşluk */ 
}

.thumb-container {
    flex-wrap: wrap; 
    align-content: flex-start; 
    overflow-y: auto; 
    overflow-x: hidden; 
    max-height: 100%;
    width: 10%;
    position: relative;
    display: inline-block;
    white-space: nowrap;
}



.thumb {
    width: 100%; 
    object-fit: cover;
    margin-bottom: 8px; 
    cursor: pointer;
}

.fade-in {
    animation: fade-in 0.5s ease-in-out;
}

@keyframes fade-in {
    from { opacity: 0; }
    to { opacity: 1; }
}


.thumb.active {
    opacity: 1;
}



@media (max-width: 600px) {
    .thumb-container {
        display: none; /* Mobil görünümde küçük resimleri gizle */
    }

    .main-img img {
        max-width: 100%; /* Mobilde resmi ekran genişliğine sığdır */
        height: auto; /* Yüksekliği otomatik ayarla */
    }
}
